* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.card {
    width: 350px;
    padding: 80px 30px 40px 30px;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.profile-img {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #333;
}

.card h2 {
    font-size: 16px;
    color: #f88d37;
    margin-bottom: 15px;
    font-weight: 600;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background-color: #eaeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s ease;
}

.social-icons i {
    font-size: 18px;
    color: #8fceec;
}

button {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background-color: #f88d37;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
